<div class="text-center flex-1 flex flex-col p-4">
  <div class="py-4">
    <h1 class="font-script text-3xl lg:text-6xl">O Major Songs</h1>
    <h2 class="text-2xl lg:text-4xl">Creative Consulting</h2>
  </div>
  <div class="flex flex-grow justify-center">
    <div class="flex-1"></div>
    <div class="flex-init">
      <img alt="Olaf Thomsen" src="/assets/images/olaf.jpg">
      <p>Olaf Thomsen</p>
      <a class="text-purple-700" type="email">olafthomsen@gmail.com</a>
    </div>
    <div class="flex-1"></div>
  </div>
  <div class="py-4 px-4 text-left">
    <h3 class="text-xl">Services Include:</h3>
    <ul class="list-disc">
      <li>Develop creative strategies for labels, artist management firms, and
      music publishers</li>
      <li>A&R and Licensing</li>
      <li>Represent artists and publishing catalogues for major labels</li>
      <li>Negotiate creative, administrative, and legal aspects of compositions
      and master recordings</li>
      <li>licensing, label waivers, drafting and negotiating producer
      agreements</li>
      <li>Act as point person for publishing operations including registering
      copyrights, negotiating writers' percentages, tracking royalties,
      negotiating samples, pitching songs, and suggesting changes to music.</li>
    </ul>
  </div>
</div>
